$fontcolor:  rgb(10%, 10%, 10%);
$backgroundcolor: rgb(98%, 98%, 98%);
$notecolor: #FCF3CF;

body {
  font-family: "Roboto", sans-serif;
  color: $fontcolor;
  background-color: $backgroundcolor;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.note {
  display: flex;
  flex-direction: column;
  min-height: 180px;
  min-width: 150px;
  max-width: 500px;
  word-break: break-all;
  word-wrap: break-word;
  position: absolute;
  padding: 15px;
  box-shadow: 1px 1px 5px #999;
  background-color: $notecolor;
  .note-header {
    display: flex;
    justify-content: space-between;
    .note-title {
      font-size: 20px;
      margin: 0px;
      background-color: transparent;
    }
    i {
      padding-left: 8px;
      cursor: pointer;
    }
    i:hover{
      color: blue;
    }
  }
  .note-content {
    font-size: 15px;
    height: 150px;
    background-color: transparent;
    margin-top: 10px;
    max-width: 490px;
  }
  .border {
    border-color: #99A3A4;
    border-width: 1px;
  }
}
