$fontcolor:  rgb(10%, 10%, 10%);
$backgroundcolor: rgb(98%, 98%, 98%);
$notecolor: #FCF3CF;
$buttoncolor: #7DCEA0;
$hovercolor: #52BE80;

body {
  font-family: "Roboto", sans-serif;
  color: $fontcolor;
  background-color: $backgroundcolor;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 20px;
  margin-bottom: 20px;
}
#sign-in-box {
  margin: auto;
  margin-top: 100px;
  padding-top: 50px;
  padding-bottom: 50px;
  border-radius: 30px;
  width: 500px;
  background-color: #F9E79F;
  .sign-in-text {
    text-align: center;
  }
}
.container {
  display: flex;
  justify-content: space-between;
}
.input {
  font-size: 14px;
  padding: 7px;
  color: black;
  margin-right: 5px;
  min-width: 200px;
  border: 1px solid palevioletred;
  border-radius: 3px;
}
.button {
  border: 1px solid palevioletred;
  border-radius: 3px;
  font-size: 14px;
  padding: 7px;
  color: black;
  border-color: $buttoncolor;
  background-color: $buttoncolor;
  // width: 100px;
}
.button:hover {
  background-color: $hovercolor;
  border-color: $hovercolor;
  cursor: pointer;
}
.note {
  display: flex;
  flex-direction: column;
  min-height: 180px;
  min-width: 150px;
  max-width: 500px;
  word-break: break-all;
  word-wrap: break-word;
  position: absolute;
  padding: 15px;
  box-shadow: 1px 1px 5px #999;
  background-color: $notecolor;
  .note-header {
    display: flex;
    justify-content: space-between;
    .note-title {
      font-size: 20px;
      margin: 0px;
      background-color: transparent;
    }
    i {
      padding-left: 8px;
      cursor: pointer;
    }
    i:hover{
      color: #D35400;
    }
  }
  .note-content {
    font-size: 15px;
    min-height: 150px;
    background-color: transparent;
    margin-top: 10px;
    max-width: 490px;
    p {
      margin-top: 0;
    }
  }
  .border {
    border-color: #99A3A4;
    border-width: 1px;
  }
}
